<ion-content padding>
  <div class="rootMargin">  
    <div text-center>
      <ion-img width="100" height="100" class="logo" src="assets/imgs/logo1.png"></ion-img>
      <h1>Hola.</h1>
      <h2>Es tiempo de crecer juntos de nuevo!</h2>
    </div>
    <ion-list>
      <ion-item>
        <ion-label floating>Username</ion-label>
        <ion-input type="text" class="form-control" [(ngModel)]="username" required></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" class="form-control" [(ngModel)]="password" required></ion-input>
      </ion-item>
      <ion-item></ion-item>
    
    </ion-list>
    
    <div padding>
      <button block ion-button class="primary-btn" color="dark" (click)="signInUser()">
        Acceder
      </button>
    </div>
  </div>
</ion-content>
