// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
/* Header */
.toolbar-background{
	background-color: #263238 !important;
}
.toolbar-title{
	color: white !important;
}
.headerLogo{
	display: inline-block;
	margin-top: 4px;
	width:40px;
}
.header-options{
	position: absolute;
	top: 56px;
	right: 0.7rem;
	z-index: 11;
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}
/* Titles */
.headerTitle{
	position: absolute;
	top: 20%;
	margin-left: 16px;
}
.spanTitle{
	color: chocolate;
	text-transform: uppercase;
	font-size: 0.7em;
	margin: 3px 0 0 0;
	text-align: left;
	min-height: 12px;
}
/* Content/Body */
ion-content{
	background-color: #F8F8F8 !important;
}
/* custom icon size */
.small-icon{
	font-size: 1.0em;
}
.medium-icon{
	font-size: 1.7em;
}
.large-icon{
	font-size: 3em;
}
/* Footer menu style */
.footerMenu{
	width: 100%;
	display: flex;
	flex-direction: row;
}
.footer-menu-selected{
	color: #a1d1f7;
	font-weight: bold;
}
.footer-menu-unselected{
	color: #C7CDD2;
}
/* style correctors */
.clear-spacous{
	height: 56px;
	width: 100%;
}
/* Messages */
.errorMessage{
	> div{
		background-color: rgb(245, 56, 56) !important;
		-webkit-box-shadow: 1px 1px 9px 2px rgba(0,0,0,0.75);
		-moz-box-shadow: 1px 1px 9px 2px rgba(0,0,0,0.75);
		box-shadow: 1px 1px 9px 2px rgba(0,0,0,0.75);
		color: white;
		text-align: center !important;
		border-radius: 5px;
	}
}
.infoMessage{
	> div{
		background-color: rgb(45, 172, 45) !important;
		-webkit-box-shadow: 1px 1px 9px 2px rgba(0,0,0,0.75);
		-moz-box-shadow: 1px 1px 9px 2px rgba(0,0,0,0.75);
		box-shadow: 1px 1px 9px 2px rgba(0,0,0,0.75);
		color: white;
		text-align: center !important;
		border-radius: 5px;
	}
}