<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>
          <img class="headerLogo" src="assets/imgs/logo.png"/>
          <span class="headerTitle">
            MUV menu
          </span>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon [name]="p.iconName" start color="iconDark"></ion-icon>
        {{p.title}}
      </button>
      <button menuClose ion-item (click)="logout()">
        <ion-icon name="log-out" color="iconDark"></ion-icon>
        Salir
      </button>  
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>