<ion-header>

  <ion-navbar hideBackButton>
    <button ion-button menuToggle>
      <ion-icon name="menu" color="iconLight"></ion-icon>
    </button>
    <ion-title>Revisión de vehiculo</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <div style="text-align: center">
    <h1>{{vehicleSelected.model}} - {{vehicleSelected.year}}</h1>
    <h3>{{vehicleSelected.brand}}</h3>
  </div>
  <ion-list>
    <p class="listHeader">Kilometraje</p>
    <ion-item>
      <ion-input type="number" placeholder="0"></ion-input>
    </ion-item>
    <p class="listHeader">Faros</p>
    <ion-item>
      <ion-label>Delantero derecho</ion-label>
      <ion-checkbox [(ngModel)]="review.headlightsGlass.frontRight"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Delantero izquierdo</ion-label>
      <ion-checkbox [(ngModel)]="review.headlightsGlass.frontLeft"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Tracero derecho</ion-label>
      <ion-checkbox [(ngModel)]="review.headlightsGlass.rearRight"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Trasero izquierdo</ion-label>
      <ion-checkbox [(ngModel)]="review.headlightsGlass.rearLeft"></ion-checkbox>
    </ion-item>

    <p class="listHeader">Luces</p>
    <ion-item>
      <ion-label>Delantero derecho</ion-label>
      <ion-checkbox [(ngModel)]="review.headlights.frontRight"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Delantero izquierdo</ion-label>
      <ion-checkbox [(ngModel)]="review.headlights.frontLeft"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Tracero derecho</ion-label>
      <ion-checkbox [(ngModel)]="review.headlights.rearRight"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Trasero izquierdo</ion-label>
      <ion-checkbox [(ngModel)]="review.headlights.rearLeft"></ion-checkbox>
    </ion-item>
    
    <p class="listHeader">Luz alta</p>
    <ion-item>
      <ion-label>Derecho</ion-label>
      <ion-checkbox [(ngModel)]="review.highBeam.frontRight"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Izquierdo</ion-label>
      <ion-checkbox [(ngModel)]="review.highBeam.frontLeft"></ion-checkbox>
    </ion-item>
  
    <p class="listHeader">Busca huellas</p>
    <ion-item>
      <ion-label>Derecho</ion-label>
      <ion-checkbox [(ngModel)]="review.fogLamps.frontRight"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Izquierdo</ion-label>
      <ion-checkbox [(ngModel)]="review.fogLamps.frontLeft"></ion-checkbox>
    </ion-item>
    
    <p class="listHeader">Luces de giro</p>
    <ion-item>
      <ion-label>Delantero derecho</ion-label>
      <ion-checkbox [(ngModel)]="review.turnSignals.frontRight"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Delantero izquierdo</ion-label>
      <ion-checkbox [(ngModel)]="review.turnSignals.frontLeft"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Tracero derecho</ion-label>
      <ion-checkbox [(ngModel)]="review.turnSignals.rearRight"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Trasero izquierdo</ion-label>
      <ion-checkbox [(ngModel)]="review.turnSignals.rearLeft"></ion-checkbox>
    </ion-item>

    <p class="listHeader">Luces de freno</p>
    <ion-item>
      <ion-label>Derecho</ion-label>
      <ion-checkbox [(ngModel)]="review.stopLamps.rearRight"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Izquierdo</ion-label>
      <ion-checkbox [(ngModel)]="review.stopLamps.rearLeft"></ion-checkbox>
    </ion-item>

    <p class="listHeader">Otras luces</p>
    <ion-item>
      <ion-label>Luz de chapa</ion-label>
      <ion-checkbox [(ngModel)]="review.licensePlateLamp"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Luz de retroceso</ion-label>
      <ion-checkbox [(ngModel)]="review.recoilLamp"></ion-checkbox>
    </ion-item>

    <p class="listHeader">Exterior</p>
    <ion-item>
      <ion-label>Neumáticos</ion-label>
      <ion-checkbox [(ngModel)]="review.tires"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Ventanas de puertas</ion-label>
      <ion-checkbox [(ngModel)]="review.windows"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Parachoques</ion-label>
      <ion-checkbox [(ngModel)]="review.bumpers"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Espejos retrovisores</ion-label>
      <ion-checkbox [(ngModel)]="review.mirrors"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Tren delantero</ion-label>
      <ion-checkbox [(ngModel)]="review.frontEnd"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Chapa</ion-label>
      <ion-checkbox [(ngModel)]="review.licensePlate"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Chapería y pintura</ion-label>
      <ion-checkbox [(ngModel)]="review.sheetAndPaint"></ion-checkbox>
    </ion-item>

    <p class="listHeader">Mecánica</p>
    <ion-item>
      <ion-label>Frenos de pedal</ion-label>
      <ion-checkbox [(ngModel)]="review.brakePedal"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Freno de emergencia</ion-label>
      <ion-checkbox [(ngModel)]="review.emergencyBrake"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Mecanismo de dirección</ion-label>
      <ion-checkbox [(ngModel)]="review.steeringMechanism"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Parabrisas</ion-label>
      <ion-checkbox [(ngModel)]="review.windshields"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Limpia parabrisas</ion-label>
      <ion-checkbox [(ngModel)]="review.windshieldsWasher"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Silenciador y sistema de escape</ion-label>
      <ion-checkbox [(ngModel)]="review.silencerAndExhaustGasket"></ion-checkbox>
    </ion-item>

    <p class="listHeader">Interior</p>
    <ion-item>
      <ion-label>Aire acondicionado</ion-label>
      <ion-checkbox [(ngModel)]="review.airConditioning"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Sistema de radio</ion-label>
      <ion-checkbox [(ngModel)]="review.radioPlayer"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Cinturones de seguridad</ion-label>
      <ion-checkbox [(ngModel)]="review.seatBelt"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Ajuste de asientos delanteros</ion-label>
      <ion-checkbox [(ngModel)]="review.seatAdjustment"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Puertas</ion-label>
      <ion-checkbox [(ngModel)]="review.doors"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Bocina</ion-label>
      <ion-checkbox [(ngModel)]="review.horn"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Velocímetro</ion-label>
      <ion-checkbox [(ngModel)]="review.speedometer"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Tapizado</ion-label>
      <ion-checkbox [(ngModel)]="review.seatCover"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Limpieza</ion-label>
      <ion-checkbox [(ngModel)]="review.cleaning"></ion-checkbox>
    </ion-item>

    <p class="listHeader">Seguridad</p>
    <ion-item>
      <ion-label>Airbags</ion-label>
      <ion-checkbox [(ngModel)]="review.airbags"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Fecha de vencimiento del extintor</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="review.extinguisher"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Baliza</ion-label>
      <ion-checkbox [(ngModel)]="review.beacon"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Gato</ion-label>
      <ion-checkbox [(ngModel)]="review.jack"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Rueda de auxilio</ion-label>
      <ion-checkbox [(ngModel)]="review.spareTire"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Herramientas</ion-label>
      <ion-checkbox [(ngModel)]="review.tools"></ion-checkbox>
    </ion-item>

    <p class="listHeader">Documentos</p>
    <ion-item>
      <ion-label>Seguro</ion-label>
      <ion-checkbox [(ngModel)]="review.insurance"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Autorización</ion-label>
      <ion-select [(ngModel)]="review.authorization">
        <ion-option value="TITULAR">Titular</ion-option>
        <ion-option value="PRIVATE_CONTRACT">Contrato privado</ion-option>
      </ion-select>
    </ion-item>

    <p class="listHeader">Observación</p>
    <ion-item>
      <ion-input [(ngModel)]="review.aditionalData"></ion-input>
    </ion-item>

  </ion-list>
  <div padding>
    <button ion-button color="primary" (click)="saveReview()">
      Guardar
    </button>
  </div>

</ion-content>
