page-order {
	/*gral styles*/
	/*Header*/
	ion-navbar.toolbar{
		min-height: 56px;
	}
	.searchbar-input-container{
		background-color: white;
	}
	/*Body*/
	.view-body{
		display: flex;
		flex-direction: row;
		width: 100%;
	}
	ion-list{
		width: 100%;
	}
	.title{
		font-weight: bold;
		padding: 5px;
		color: sienna;
		font-size: 21px;
	}
	.subTitle{
		padding: 5px;
		font-size: 18px;
	}
	/*Spcifically for tablets*/
	@media (min-width: 768px) {
	}
	/*Spcifically for smartphones*/
	@media (max-width: 767px) {
	}
}
