<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu" color="iconLight"></ion-icon>
		</button>
		<ion-title>
			<h2>Búsqueda de vehiculos</h2>
		</ion-title>
		<!-- <ion-buttons end>
			<button ion-button icon-only>
				<ion-icon name="search" color="iconLight" item-end></ion-icon>
				<ion-icon name="close" color="iconLight" item-end></ion-icon>
			</button>
			<button ion-button icon-only>
				<ion-icon name="more" color="iconLight" item-end></ion-icon>
			</button>
		</ion-buttons> -->
	</ion-navbar>
	<ion-searchbar end type="number" color="primary" [(ngModel)]="driverDni" (ionChange)="findVehicle()" showCancelButton autofocus placeholder="Ingrese el numero de cedula">
	</ion-searchbar>
</ion-header>
<ion-content padding>
	<img style="margin-left: 30%; margin-top: 40px; width: 30%;" *ngIf="vehicles.length == 0" src="assets/imgs/vehicleFinder.png">
	<div class="view-body">
		<ion-list>
			<ion-item *ngFor="let vehicle of vehicles" (click)="openVehicleReviewPage(vehicle)">
				<ion-avatar item-start>
					<img src="assets/imgs/vehicle.png"/>
				</ion-avatar>
				<h2 class="title">{{vehicle.model}} - {{vehicle.year}}</h2>
				<h3 class="subTitle">{{vehicle.brand}}</h3>
				<ion-icon name="ios-checkmark-circle-outline" style="color: green; font-weight: bold;" *ngIf="vehicle.approbed" item-end></ion-icon>
				<ion-icon name="ios-close-circle-outline" style="color: red; font-weight: bold;"*ngIf="!vehicle.approbed" item-end></ion-icon>
			</ion-item>
		</ion-list>
	</div>
</ion-content>